<ion-view title="1° Año" id="page8" style="background-color:#00A7C3;">
  <ion-content padding="true" class="has-header">
    <ion-list id="1AO-list64">
      <ion-item class="item-divider" id="1AO-list-item-divider3"> Ingreso</ion-item>
      <ion-item class="item-icon-left dark" id="1AO-list-item25" ui-sref="ingIndustrial.matemTica()">
        <i class="icon ion-university"></i>Matemática</ion-item>
    </ion-list>
    <ion-list id="1AO-list65">
      <ion-item class="item-icon-left dark" id="1AO-list-item26" ui-sref="ingIndustrial.fSica()">
        <i class="icon ion-university"></i>Física</ion-item>
      <ion-item class="item-icon-left dark" id="1AO-list-item267" ui-sref="ingIndustrial.quMica()">
        <i class="icon ion-university"></i>Química</ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="1AO-list66">
      <ion-item class="item-divider" id="1AO-list-item-divider4"> 1° Cuatrimestre</ion-item>
    </ion-list>
    <ion-list id="1AO-list67">
      <ion-item class="item-icon-left dark" id="1AO-list-item37" ui-sref="ingIndustrial.LgebraYGeometrAAnalTica()">
        <i class="icon ion-university"></i>Álgebra y Geometría Analítica</ion-item>
    </ion-list>
    <ion-list id="1AO-list68">
      <ion-item class="item-icon-left dark" id="1AO-list-item38" ui-sref="ingIndustrial.anLisisMatemTicoI()">
        <i class="icon ion-university"></i>Análisis Matemático</ion-item>
      <ion-item class="item-icon-left dark" id="1AO-list-item39" ui-sref="ingIndustrial.quMicaGeneralEInorgNica()">
        <i class="icon ion-university"></i>Química General e Inorgánica</ion-item>
    </ion-list>
    <ion-list id="1AO-list69">
      <ion-item class="item-icon-left dark" id="1AO-list-item40" ui-sref="ingIndustrial.anatomAYMorfologAVegetal()">
        <i class="icon ion-university"></i>Anatomía y Morfología Vegetal</ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="1AO-list70">
      <ion-item class="item-divider" id="1AO-list-item-divider5"> Anuales</ion-item>
    </ion-list>
    <ion-list id="1AO-list71">
      <ion-item class="item-icon-left dark" id="1AO-list-item42" ui-sref="ingIndustrial.informTica()">
        <i class="icon ion-university"></i>Informática</ion-item>
    </ion-list>
    <ion-list id="1AO-list72">
      <ion-item class="item-icon-left dark" id="1AO-list-item43" ui-sref="ingIndustrial.expresiNOralYEscrita()">
        <i class="icon ion-university"></i>Expresión Oral y Escrita</ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="1AO-list7">
      <ion-item class="item-divider" id="1AO-list-item-divider6"> 2° Cuatrimestre</ion-item>
      <ion-item class="item-icon-left dark" id="1AO-list-item44" ui-sref="ingIndustrial.introducciNALasCienciasAgrarias()">
        <i class="icon ion-university"></i>Introducción a las Ciencias Agrarias</ion-item>
      <ion-item class="item-icon-left dark" id="1AO-list-item45" ui-sref="ingIndustrial.quMicaOrgNica()">
        <i class="icon ion-university"></i>Química Orgánica</ion-item>
      <ion-item class="item-icon-left dark" id="1AO-list-item46" ui-sref="ingIndustrial.fSica2()">
        <i class="icon ion-university"></i>Física</ion-item>
      <ion-item class="item-icon-left dark" id="1AO-list-item47" ui-sref="ingIndustrial.botNicaSistemTica()">
        <i class="icon ion-university"></i>Botánica Sistemática</ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
  </ion-content>
</ion-view>