<ion-view title="2° Año" id="page9" style="background-color:#00A7C3;">
  <ion-content padding="true" class="has-header">
    <ion-list id="2AO-list73">
      <ion-item class="item-divider" id="2AO-list-item-divider7"> 1° Cuatrimestre</ion-item>
    </ion-list>
    <ion-list id="2AO-list74">
      <ion-item class="item-icon-left dark" id="2AO-list-item29" ui-sref="ingIndustrial.quMicaBiolGica()">
        <i class="icon ion-university"></i>Química Biológica</ion-item>
    </ion-list>
    <ion-list id="2AO-list75">
      <ion-item class="item-icon-left dark" id="2AO-list-item30" ui-sref="ingIndustrial.estadSticaYDiseOExperimental()">
        <i class="icon ion-university"></i>Estadística y Diseño Experimental</ion-item>
    </ion-list>
    <ion-list id="2AO-list76">
      <ion-item class="item-icon-left dark" id="2AO-list-item31" ui-sref="ingIndustrial.edafologA()">
        <i class="icon ion-university"></i>Edafología</ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="2AO-list93">
      <ion-item class="item-divider" id="2AO-list-item-divider19"> Anual</ion-item>
    </ion-list>
    <ion-list id="2AO-list94">
      <ion-item class="item-icon-left dark" id="2AO-list-item52" ui-sref="ingIndustrial.maquinariaAgrCola()">
        <i class="icon ion-university"></i>Maquinaria Agrícola</ion-item>
    </ion-list>
    <ion-list id="2AO-list95">
      <ion-item class="item-icon-left dark" id="2AO-list-item268" ui-sref="ingIndustrial.ingles()">
        <i class="icon ion-university"></i>Ingles</ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="2AO-list8">
      <ion-item class="item-divider" id="2AO-list-item-divider8"> 2° Cuatrimestre</ion-item>
      <ion-item class="item-icon-left dark" id="2AO-list-item32" ui-sref="ingIndustrial.quMicaAnalTica()">
        <i class="icon ion-university"></i>Química Analítica</ion-item>
      <ion-item class="item-icon-left dark" id="2AO-list-item49" ui-sref="ingIndustrial.fisiologAVegetal()">
        <i class="icon ion-university"></i>Fisiología Vegetal</ion-item>
      <ion-item class="item-icon-left dark" id="2AO-list-item50" ui-sref="ingIndustrial.fitopatologA()">
        <i class="icon ion-university"></i>Fitopatología</ion-item>
      <ion-item class="item-icon-left dark" id="2AO-list-item51" ui-sref="ingIndustrial.climatologAYMeteorologA()">
        <i class="icon ion-university"></i>Climatología y Agrometereología</ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
  </ion-content>
</ion-view>