<ion-view title="3° Año" id="page10" style="background-color:#00A7C3;">
  <ion-content padding="true" class="has-header">
    <ion-list id="3AO-list78">
      <ion-item class="item-divider" id="3AO-list-item-divider9"> 1° Cuatrimestre</ion-item>
    </ion-list>
    <ion-list id="3AO-list79">
      <ion-item class="item-icon-left dark" id="3AO-list-item35" ui-sref="ingIndustrial.basesBiolGicasDeLaProducciNAnimal()">
        <i class="icon ion-university"></i>Bases Biológicas de la Producción Animal</ion-item>
      <ion-item class="item-icon-left dark" id="3AO-list-item270" ui-sref="ingIndustrial.zoologAAgrCola()">
        <i class="icon ion-university"></i>Zoología Agrícola</ion-item>
      <ion-item class="item-icon-left dark" id="3AO-list-item271" ui-sref="ingIndustrial.ecologAAgrCola()">
        <i class="icon ion-university"></i>Ecología Agrícola</ion-item>
      <ion-item class="item-icon-left dark" id="3AO-list-item272" ui-sref="ingIndustrial.genTica()">
        <i class="icon ion-university"></i>Genética</ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="3AO-list96">
      <ion-item class="item-divider" id="3AO-list-item-divider20"> Anual</ion-item>
    </ion-list>
    <ion-list id="3AO-list97">
      <ion-item class="item-icon-left dark" id="3AO-list-item269" ui-sref="ingIndustrial.manejoDelRecursoHDrico()">
        <i class="icon ion-university"></i>Manejo del Recurso Hídrico</ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="3AO-list9">
      <ion-item class="item-divider" id="3AO-list-item-divider10"> 2° Cuatrimestre</ion-item>
      <ion-item class="item-icon-left dark" id="3AO-list-item36" ui-sref="ingIndustrial.terapUticaVegetal()">
        <i class="icon ion-university"></i>Terapéutica Vegetal</ion-item>
      <ion-item class="item-icon-left dark" id="3AO-list-item276" ui-sref="ingIndustrial.nutriciNYAlimentaciNAnimal()">
        <i class="icon ion-university"></i>Nutrición y Alimentación Animal</ion-item>
      <ion-item class="item-icon-left dark" id="3AO-list-item275" ui-sref="ingIndustrial.microbiologAAgrCola()">
        <i class="icon ion-university"></i>Microbiología Agrícola</ion-item>
      <ion-item class="item-icon-left dark" id="3AO-list-item274" ui-sref="ingIndustrial.mejoramientoVegetal()">
        <i class="icon ion-university"></i>Mejoramiento Vegetal</ion-item>
      <ion-item class="item-icon-left dark" id="3AO-list-item273" ui-sref="ingIndustrial.economAPolTica()">
        <i class="icon ion-university"></i>Economía Política</ion-item>
      <ion-item class="item-icon-left dark" id="3AO-list-item277" ui-sref="ingIndustrial.manejoDelRecursoHDrico()">
        <i class="icon ion-university"></i>Manejo del Recurso Hídrico</ion-item>
    </ion-list>
  </ion-content>
</ion-view>