<ion-view title="4° Año" id="page40" style="background-color:#00A7C3;">
  <ion-content padding="true" class="has-header">
    <ion-list id="4AO-list87">
      <ion-item class="item-divider" id="4AO-list-item-divider15"> 1° Cuatrimestre</ion-item>
    </ion-list>
    <ion-list id="4AO-list88">
      <ion-item class="item-icon-left dark" id="4AO-list-item239" ui-sref="ingIndustrial.manejoYConservaciNDeSuelos()">
        <i class="icon ion-university"></i>Manejo y Conservación de Suelos</ion-item>
      <ion-item class="item-icon-left dark" id="4AO-list-item280" ui-sref="ingIndustrial.administraciNYComercializaciN()">
        <i class="icon ion-university"></i>Administración y Comercialización</ion-item>
      <ion-item class="item-icon-left dark" id="4AO-list-item281" ui-sref="ingIndustrial.introducciNAlConocimientoCientFico()">
        <i class="icon ion-university"></i>Introducción al Conocimiento Científico</ion-item>
      <ion-item class="item-icon-left dark" id="4AO-list-item282" ui-sref="ingIndustrial.producciNYUtilizaciNDeForrajes()">
        <i class="icon ion-university"></i>Producción y Utilización de Forrajes</ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="4AO-list89">
      <ion-item class="item-divider" id="4AO-list-item-divider16"> Anual</ion-item>
      <ion-item class="item-icon-left dark" id="4AO-list-item240" ui-sref="ingIndustrial.fruticultura()">
        <i class="icon ion-university"></i>Fruticultura</ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="4AO-list98">
      <ion-item class="item-divider" id="4AO-list-item-divider21"> 2° Cuatrimestre</ion-item>
      <ion-item class="item-icon-left dark" id="4AO-list-item278" ui-sref="ingIndustrial.producciNAnimalBovinos()">
        <i class="icon ion-university"></i>Producción Animal (Bovinos)</ion-item>
      <ion-item class="item-icon-left dark" id="4AO-list-item283" ui-sref="ingIndustrial.horticultura()">
        <i class="icon ion-university"></i>Horticultura</ion-item>
      <ion-item class="item-icon-left dark" id="4AO-list-item284" ui-sref="ingIndustrial.producciNAnimalPorcinosYAnimalesDeGranja()">
        <i class="icon ion-university"></i>Producción Animal (Porcinos y Animales de Granja)</ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="4AO-list99">
      <ion-item class="item-divider" id="4AO-list-item-divider22"> Bimestral</ion-item>
      <ion-item class="item-icon-left dark" id="4AO-list-item279" ui-sref="ingIndustrial.prCticaDeVeranoI()">
        <i class="icon ion-university"></i>Practica de Verano I</ion-item>
    </ion-list>
  </ion-content>
</ion-view>