<ion-view title="5° Año" id="page41" style="background-color:#00A7C3;">
  <ion-content padding="true" class="has-header">
    <ion-list id="5AO-list90">
      <ion-item class="item-divider" id="5AO-list-item-divider17"> 1° Cuatrimestre</ion-item>
    </ion-list>
    <ion-list id="5AO-list91">
      <ion-item class="item-icon-left dark" id="5AO-list-item241" ui-sref="ingIndustrial.extensiNYSociologARural()">
        <i class="icon ion-university"></i>Extensión y Sociología Rural</ion-item>
      <ion-item class="item-icon-left dark" id="5AO-list-item289" ui-sref="ingIndustrial.legislaciNAgraria()">
        <i class="icon ion-university"></i>Legislación Agraria</ion-item>
      <ion-item class="item-icon-left dark" id="5AO-list-item290" ui-sref="ingIndustrial.silvicultura()">
        <i class="icon ion-university"></i>Silvicultura</ion-item>
      <ion-item class="item-icon-left dark" id="5AO-list-item291" ui-sref="ingIndustrial.cerealiculturaYCultivosIndustriales()">
        <i class="icon ion-university"></i>Cerealicultura y Cultivos Industriales</ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="5AO-list92">
      <ion-item class="item-divider" id="5AO-list-item-divider18"> Anual</ion-item>
      <ion-item class="item-icon-left dark" id="5AO-list-item242" ui-sref="ingIndustrial.olivicultura()">
        <i class="icon ion-university"></i>Olivicultura</ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="5AO-list100">
      <ion-item class="item-divider" id="5AO-list-item-divider23"> 2° Cuatrimestre</ion-item>
      <ion-item class="item-icon-left dark" id="5AO-list-item286" ui-sref="ingIndustrial.teledetecciNYSistemasDeInformaciNGeogrFica()">
        <i class="icon ion-university"></i>Teledetección y Sistemas de Detección Geográfica</ion-item>
      <ion-item class="item-icon-left dark" id="5AO-list-item287" ui-sref="ingIndustrial.pasantAEnInstituciNPBlica()">
        <i class="icon ion-university"></i>Pasantía en Institución Pública</ion-item>
      <ion-item class="item-icon-left dark" id="5AO-list-item288" ui-sref="ingIndustrial.pasantAEnEstablecimientoPrivado()">
        <i class="icon ion-university"></i>Pasantía en Establecimiento Privado</ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="5AO-list101">
      <ion-item class="item-divider" id="5AO-list-item-divider24"> Bimestral</ion-item>
      <ion-item class="item-icon-left dark" id="5AO-list-item285" ui-sref="ingIndustrial.prCticaDeVeranoII()">
        <i class="icon ion-university"></i>Práctica de Verano II</ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="5AO-list102">
      <ion-item class="item-divider" id="5AO-list-item-divider25"> </ion-item>
      <ion-item class="item-icon-left dark" id="5AO-list-item292" ui-sref="ingIndustrial.trabajoFinal()">
        <i class="icon ion-university"></i>Trabajo Final</ion-item>
    </ion-list>
  </ion-content>
</ion-view>