<ion-view title="Administración y Comercialización" id="page51" style="background-color:#00A7C3;">
  <ion-content padding="true" class="has-header">
    <ion-list id="administraciNYComercializaciN-list121">
      <ion-item class="item-icon-right dark" id="administraciNYComercializaciN-list-item347">Item 1
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="administraciNYComercializaciN-list-item348">Item 2
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="administraciNYComercializaciN-list-item349">Item 3
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
    <ion-list id="administraciNYComercializaciN-list122">
      <ion-item class="item-icon-right dark" id="administraciNYComercializaciN-list-item350">Item 1
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="administraciNYComercializaciN-list-item351">Item 2
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="administraciNYComercializaciN-list-item352">Item 3
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>