<ion-view title="Alcance del Título" id="page7">
  <ion-content padding="true" class="has-header">
    <div>
      <h4>
        <span style="color: #ff6600;">
          <strong>
            <u>ALCANCES DEL TITULO</u>
          </strong>
        </span>
      </h4>
      <p>&nbsp;</p>
      <p>Corresponden al Ingeniero Industrial las siguientes actividades:</p>
      <p>*Realizar estudios de factibilidad, proyectar, dirigir, implementar, operar y evaluar el proceso de producción de bienes industrializados y la administración de los recursos destinados a la producción de dichos bienes.</p>
      <p>*Planificar y organizar plantas industriales y plantas de transformación de recursos naturales de bienes industrializados y servicios.</p>
      <p>*Proyectar las instalaciones necesarias para el desarrollo de procesos productivos destinados a la producción de bienes industrializados y dirigir su ejecución y mantenimiento.</p>
      <p>*Proyectar, implementar y evaluar el proceso destinado a la producción de bienes industrializados.</p>
      <p>*Determinar las especificaciones técnicas y evaluar la factibilidad tecnológica de los dispositivos, aparatos y equipos necesarios para el funcionamiento del proceso destinado a la producción de bienes industrializados.</p>
      <p>*Programar y organizar el movimiento y almacenamiento de materiales para el desarrollo del proceso productivo y de los bienes industrializados resultantes.</p>
      <p>*Participar en el diseño de productos en lo relativo a la determinación de la factibilidad de su elaboración industrial.</p>
      <p>*Determinar las condiciones de instalación y de funcionamiento que aseguren que el conjunto de operaciones necesarias para la producción y distribución de bienes industrializados se realice en condiciones de higiene y seguridad, como así también
        establecer las especificaciones de equipos, dispositivos y elementos de protección y controlar su utilización.</p>
      <p>*Realizar la planificación, organización, conducción y control de gestión del conjunto de operaciones necesarias para la producción y distribución de bienes industrializados.</p>
      <p>*Determinar la calidad y cantidad de los recursos humanos para la implementación y funcionamiento del conjunto de operaciones necesarias para la producción de bienes industrializados, evaluar su desempeño y establecer los requerimientos de capacitación.</p>
      <p>*Efectuar la programación de los requerimientos financieros para la producción de bienes industrializados.</p>
      <p>*Asesorar en lo relativo al proceso de producción de bienes industrializados y la administración de los recursos destinados a la producción de dichos bienes.</p>
      <p>*Efectuar tasaciones y valuaciones de plantas industriales en lo relativo a: sus instalaciones y equipos, sus productos semielaborados y elaborados y las tecnologías de transformación utilizadas en la producción y distribución de bienes industrializados.</p>
      <p>*Realizar arbitrajes y peritajes referidos a: la planificación y organización de plantas industriales, sus instalaciones y equipos, y el proceso de producción, los procedimientos de operación y las condiciones de higiene y seguridad en el trabajo,
        para la producción y distribución de bienes.</p>
    </div>
  </ion-content>
</ion-view>