<ion-view title="Bases Biológicas de la Producción Animal" id="page34" style="background-color:#00A7C3;">
  <ion-content padding="true" class="has-header">
    <ion-list id="basesBiolGicasDeLaProducciNAnimal-list54">
      <ion-item class="item-icon-right dark" id="basesBiolGicasDeLaProducciNAnimal-list-item206">Item 1
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="basesBiolGicasDeLaProducciNAnimal-list-item207">Item 2
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="basesBiolGicasDeLaProducciNAnimal-list-item208">Item 3
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
    <ion-list id="basesBiolGicasDeLaProducciNAnimal-list55">
      <ion-item class="item-icon-right dark" id="basesBiolGicasDeLaProducciNAnimal-list-item209">Item 1
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="basesBiolGicasDeLaProducciNAnimal-list-item210">Item 2
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="basesBiolGicasDeLaProducciNAnimal-list-item211">Item 3
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>