<ion-view title="Economía Política" id="page48" style="background-color:#00A7C3;">
  <ion-content padding="true" class="has-header">
    <ion-list id="economAPolTica-list115">
      <ion-item class="item-icon-right dark" id="economAPolTica-list-item329">Item 1
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="economAPolTica-list-item330">Item 2
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="economAPolTica-list-item331">Item 3
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
    <ion-list id="economAPolTica-list116">
      <ion-item class="item-icon-right dark" id="economAPolTica-list-item332">Item 1
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="economAPolTica-list-item333">Item 2
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="economAPolTica-list-item334">Item 3
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>