<ion-view title="Estadística y Diseño Experimental" id="page26" style="background-color:#00A7C3;">
  <ion-content padding="true" class="has-header">
    <ion-list id="estadSticaYDiseOExperimental-list38">
      <ion-item class="item-icon-right dark" id="estadSticaYDiseOExperimental-list-item158">Item 1
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="estadSticaYDiseOExperimental-list-item159">Item 2
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="estadSticaYDiseOExperimental-list-item160">Item 3
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
    <ion-list id="estadSticaYDiseOExperimental-list39">
      <ion-item class="item-icon-right dark" id="estadSticaYDiseOExperimental-list-item161">Item 1
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="estadSticaYDiseOExperimental-list-item162">Item 2
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="estadSticaYDiseOExperimental-list-item163">Item 3
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>