<ion-view title="Expresión Oral y Escrita" id="page24" style="background-color:#00A7C3;">
  <ion-content padding="true" class="has-header">
    <ion-list id="expresiNOralYEscrita-list34">
      <ion-item class="item-icon-right dark" id="expresiNOralYEscrita-list-item146">Item 1
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="expresiNOralYEscrita-list-item147">Item 2
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="expresiNOralYEscrita-list-item148">Item 3
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
    <ion-list id="expresiNOralYEscrita-list35">
      <ion-item class="item-icon-right dark" id="expresiNOralYEscrita-list-item149">Item 1
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="expresiNOralYEscrita-list-item150">Item 2
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="expresiNOralYEscrita-list-item151">Item 3
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>