<ion-view title="Genética" id="page43" style="background-color:#00A7C3;">
  <ion-content padding="true" class="has-header">
    <ion-list id="genTica-list105">
      <ion-item class="item-icon-right dark" id="genTica-list-item299">Item 1
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="genTica-list-item300">Item 2
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="genTica-list-item301">Item 3
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
    <ion-list id="genTica-list106">
      <ion-item class="item-icon-right dark" id="genTica-list-item302">Item 1
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="genTica-list-item303">Item 2
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="genTica-list-item304">Item 3
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>