<ion-view title="Informática" id="page23" style="background-color:#00A7C3;">
  <ion-content padding="true" class="has-header">
    <ion-list id="informTica-list32">
      <ion-item class="item-icon-right dark" id="informTica-list-item140">Item 1
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="informTica-list-item141">Item 2
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="informTica-list-item142">Item 3
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
    <ion-list id="informTica-list33">
      <ion-item class="item-icon-right dark" id="informTica-list-item143">Item 1
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="informTica-list-item144">Item 2
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="informTica-list-item145">Item 3
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>