<ion-side-menus enable-menu-with-back-views="true">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button></ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="side-menu21"></ion-nav-view>
  </ion-side-menu-content>
  <ion-side-menu side="left" id="side-menu21">
    <ion-header-bar class="bar-calm">
      <div class="title">Ing. Industrial</div>
    </ion-header-bar>
    <ion-content padding="false" class="side-menu-left has-header ">
      <ion-list id="ingIndustrial-list1">
        <ion-item class="item-icon-right calm" id="ingIndustrial-list-item1" ui-sref="ingIndustrial.inicio()" menu-close="">Inicio
          <i class="icon ion-log-in"></i>
        </ion-item>
        <ion-item class="item-icon-right calm" id="ingIndustrial-list-item2" ui-sref="ingIndustrial.planDeEstudios()" menu-close="">Plan de Estudios
          <i class="icon ion-log-in"></i>
        </ion-item>
        <ion-item class="item-icon-right calm" id="ingIndustrial-list-item3" ui-sref="ingIndustrial.horarios()" menu-close="">Horarios
          <i class="icon ion-log-in"></i>
        </ion-item>
        <ion-item class="item-icon-right calm" id="ingIndustrial-list-item90" ui-sref="ingIndustrial.programasDeCTedra()" menu-close="">Programas de Cátedra
          <i class="icon ion-log-in"></i>
        </ion-item>
        <ion-item class="item-icon-right calm" id="ingIndustrial-list-item4" ui-sref="ingIndustrial.bibliotecaDigital()" menu-close="">Biblioteca Digital
          <i class="icon ion-log-in"></i>
        </ion-item>
        <ion-item class="item-icon-right calm" id="ingIndustrial-list-item91" ui-sref="ingIndustrial.calendarioAcadMico()" menu-close="">Calendario Académico
          <i class="icon ion-log-in"></i>
        </ion-item>
        <ion-item class="item-icon-right calm" id="ingIndustrial-list-item7" ui-sref="ingIndustrial.acercaDeLaApp()" menu-close="">Acerca de la App
          <i class="icon ion-log-in"></i>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>