<ion-view title="Inicio" hide-nav-bar="true" id="page1" style="background-color:#00A7C3;">
  <ion-content padding="true" style="background: url(img/En6bGPaQjWj8x4RykkUH_FondoApp6.jpg) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding">
    <div id="inicio-button-bar1" class="button-bar"></div>
    <div class="spacer" style="height: 20px;"></div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/T3HqDDmwSRGSv3SJSfXn_LogoIndustrialApp.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 15px;"></div>
    <ion-list id="inicio-list3">
      <ion-item class="item-avatar calm" id="inicio-list-item9" ui-sref="ingIndustrial.planDeEstudios()">
        <img src="img/ZbOFGqTMSW6nY0DMlkWO_c006.png">
        <h2calm>Plan de Estudios</h2calm>
      </ion-item>
      <ion-item class="item-avatar calm" id="inicio-list-item10" ui-sref="ingIndustrial.horarios()">
        <img src="img/N1fDF6bZRSS9gilQdovO_c005.png">
        <h2calm>Horarios</h2calm>
      </ion-item>
      <ion-item class="item-avatar calm" id="inicio-list-item23" ui-sref="ingIndustrial.programasDeCTedra()">
        <img src="img/R8NPlJteQ6hDA4G0TQ9w_c004.png">
        <h2calm>Programas de Cátedra</h2calm>
      </ion-item>
      <ion-item class="item-avatar calm" id="inicio-list-item11" ui-sref="ingIndustrial.bibliotecaDigital()">
        <img src="img/vHxTtpdESAGSP83iI5nW_c003.png">
        <h2calm>Biblioteca Digital</h2calm>
      </ion-item>
      <ion-item class="item-avatar calm" id="inicio-list-item24" ui-sref="ingIndustrial.calendarioAcadMico()">
        <img src="img/HC8zyMmyS8O5hJEHF6rS_c002.png">
        <h2calm>Calendario Académico</h2calm>
      </ion-item>
      <ion-item class="item-avatar calm" id="inicio-list-item12" ui-sref="ingIndustrial.acercaDeLaApp()">
        <img src="img/4imINT9rSK6pjYQgw1eQ_c001.png">
        <h2calm>Acerca de la App</h2calm>
      </ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
  </ion-content>
</ion-view>