<ion-view title="Manejo y Conservación de Suelos" id="page50" style="background-color:#00A7C3;">
  <ion-content padding="true" class="has-header">
    <ion-list id="manejoYConservaciNDeSuelos-list119">
      <ion-item class="item-icon-right dark" id="manejoYConservaciNDeSuelos-list-item341">Item 1
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="manejoYConservaciNDeSuelos-list-item342">Item 2
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="manejoYConservaciNDeSuelos-list-item343">Item 3
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
    <ion-list id="manejoYConservaciNDeSuelos-list120">
      <ion-item class="item-icon-right dark" id="manejoYConservaciNDeSuelos-list-item344">Item 1
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="manejoYConservaciNDeSuelos-list-item345">Item 2
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="manejoYConservaciNDeSuelos-list-item346">Item 3
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>