<ion-view title="Olivicultura" id="page66" style="background-color:#00A7C3;">
  <ion-content padding="true" class="has-header">
    <ion-list id="olivicultura-list151">
      <ion-item class="item-icon-right dark" id="olivicultura-list-item437">Item 1
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="olivicultura-list-item438">Item 2
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="olivicultura-list-item439">Item 3
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
    <ion-list id="olivicultura-list152">
      <ion-item class="item-icon-right dark" id="olivicultura-list-item440">Item 1
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="olivicultura-list-item441">Item 2
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="olivicultura-list-item442">Item 3
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>