<ion-view title="Pasantía en Establecimiento Privado" id="page65" style="background-color:#00A7C3;">
  <ion-content padding="true" class="has-header">
    <ion-list id="pasantAEnEstablecimientoPrivado-list149">
      <ion-item class="item-icon-right dark" id="pasantAEnEstablecimientoPrivado-list-item431">Item 1
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="pasantAEnEstablecimientoPrivado-list-item432">Item 2
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="pasantAEnEstablecimientoPrivado-list-item433">Item 3
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
    <ion-list id="pasantAEnEstablecimientoPrivado-list150">
      <ion-item class="item-icon-right dark" id="pasantAEnEstablecimientoPrivado-list-item434">Item 1
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="pasantAEnEstablecimientoPrivado-list-item435">Item 2
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="pasantAEnEstablecimientoPrivado-list-item436">Item 3
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>