<ion-view title="Pasantía en Institución Pública" id="page64" style="background-color:#00A7C3;">
  <ion-content padding="true" class="has-header">
    <ion-list id="pasantAEnInstituciNPBlica-list147">
      <ion-item class="item-icon-right dark" id="pasantAEnInstituciNPBlica-list-item425">Item 1
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="pasantAEnInstituciNPBlica-list-item426">Item 2
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="pasantAEnInstituciNPBlica-list-item427">Item 3
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
    <ion-list id="pasantAEnInstituciNPBlica-list148">
      <ion-item class="item-icon-right dark" id="pasantAEnInstituciNPBlica-list-item428">Item 1
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="pasantAEnInstituciNPBlica-list-item429">Item 2
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="pasantAEnInstituciNPBlica-list-item430">Item 3
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>