<ion-view title="Perfil del Graduado" id="page6">
  <ion-content padding="true" class="has-header">
    <div>
      <h4>
        <span style="color: #ff6600;">
          <strong>Ordenanza Nº 322/07</strong>
        </span>
      </h4>
      <hr>
      <h4>&nbsp;</h4>
      <h4>
        <span style="color: #ff6600;">
          <strong>
            <u>PERFIL PROFESIONAL</u>
          </strong>
        </span>
      </h4>
      <p>La Ingeniería Industrial tiene un enfoque integrador, el que enfatiza la máxima racionalidad en el uso de los recursos humanos, materiales, financieros y de información de una organización.</p>
      <p>Por lo tanto, los profesionales de la misma deben poseer capacidad y habilidad para diseñar, planificar y controlar sistemas productores de bienes y servicios.</p>
      <p>El Ingeniero Industrial es un generalista del área funcional de producción en las empresas generadoras de bienes y servicio.</p>
      <p>Un genera lista es un profesional con capacidad para interpretar problemas de áreas de la empresa considerando simultáneamente todos los factores que&nbsp; afectan su diseño o funcionamiento, dando a cada factor la importancia relativa que realmente
        posee en un sistema que en la realidad es muy variado y complejo.</p>
      <p>Es competencia fundamental del Ingeniero Industrial la toma de decisiones y en consecuencia, las áreas de investigación y desarrollo que le interesan· son el planeamiento estratégico, el control gerencial y el control operativo en organizaciones
        de todo tipo.</p>
      <p>Actúa en el diseño, tanto de un puesto de trabajo individual como en sistemas complejos incluyendo los de control de la producción, control de la calidad, de inventarios, etc.</p>
      <p>En el sector servicios su formación le permite el mejoramiento de sistemas que brinden servicios eficientes a costos razonables.</p>
      <p>Así, un rol insoslayable del Ingeniero Industrial es el de ayudar a las empresas a mejorar su eficiencia y productividad. El Ingeniero Industrial tiene una actitud crítica y flexible que le permiten actuar en situaciones con diversidad de factores
        interrelacionados, reconocer la necesidad de actualización permanente y trabajar en equipos interdisciplinarios.</p>
    </div>
  </ion-content>
</ion-view>