<ion-view title="Práctica de Verano I" id="page58" style="background-color:#00A7C3;">
  <ion-content padding="true" class="has-header">
    <ion-list id="prCticaDeVeranoI-list135">
      <ion-item class="item-icon-right dark" id="prCticaDeVeranoI-list-item389">Item 1
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="prCticaDeVeranoI-list-item390">Item 2
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="prCticaDeVeranoI-list-item391">Item 3
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
    <ion-list id="prCticaDeVeranoI-list136">
      <ion-item class="item-icon-right dark" id="prCticaDeVeranoI-list-item392">Item 1
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="prCticaDeVeranoI-list-item393">Item 2
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="prCticaDeVeranoI-list-item394">Item 3
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>