<ion-view title="Práctica de Verano II" id="page67" style="background-color:#00A7C3;">
  <ion-content padding="true" class="has-header">
    <ion-list id="prCticaDeVeranoII-list153">
      <ion-item class="item-icon-right dark" id="prCticaDeVeranoII-list-item443">Item 1
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="prCticaDeVeranoII-list-item444">Item 2
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="prCticaDeVeranoII-list-item445">Item 3
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
    <ion-list id="prCticaDeVeranoII-list154">
      <ion-item class="item-icon-right dark" id="prCticaDeVeranoII-list-item446">Item 1
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="prCticaDeVeranoII-list-item447">Item 2
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="prCticaDeVeranoII-list-item448">Item 3
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>