<ion-view title="Producción y Utilización de Forrajes" id="page53" style="background-color:#00A7C3;">
  <ion-content padding="true" class="has-header">
    <ion-list id="producciNYUtilizaciNDeForrajes-list125">
      <ion-item class="item-icon-right dark" id="producciNYUtilizaciNDeForrajes-list-item359">Item 1
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="producciNYUtilizaciNDeForrajes-list-item360">Item 2
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="producciNYUtilizaciNDeForrajes-list-item361">Item 3
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
    <ion-list id="producciNYUtilizaciNDeForrajes-list126">
      <ion-item class="item-icon-right dark" id="producciNYUtilizaciNDeForrajes-list-item362">Item 1
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="producciNYUtilizaciNDeForrajes-list-item363">Item 2
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="producciNYUtilizaciNDeForrajes-list-item364">Item 3
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>