<ion-view title="Programas de Cátedra" id="page12" style="background-color:#00A7C3;">
  <ion-content padding="true" class="has-header">
    <ion-list id="programasDeCTedra-list11">
      <ion-item class="item-icon-left calm" id="programasDeCTedra-list-item33" href-inappbrowser="https://drive.google.com/file/d/1YdItDNGBNQ519FC48DKPHfhHkmDugucn/view?usp=sharing">
        <i class="icon ion-ios-list-outline"></i>Álgebra y Geometría Analítica</ion-item>
      <ion-item class="item-icon-left calm" id="programasDeCTedra-list-item34" href-inappbrowser="https://drive.google.com/file/d/18_C0YVUWo3N2PUB2vXKXbizsTe4h10y4/view?usp=sharing">
        <i class="icon ion-ios-list-outline"></i>Análisis Matemático</ion-item>
      <ion-item class="item-icon-left calm" id="programasDeCTedra-list-item53" href-inappbrowser="https://drive.google.com/file/d/1guI4zHzocAXBDzwm4-2DWdztnm126Wsh/view?usp=sharing">
        <i class="icon ion-ios-list-outline"></i>Química General e Inorgánica</ion-item>
      <ion-item class="item-icon-left calm" id="programasDeCTedra-list-item54" href-inappbrowser="https://drive.google.com/file/d/1-1j0GHTFjqoc2p52t8BdJbX7YYJ1nqBa/view?usp=sharing">
        <i class="icon ion-ios-list-outline"></i>Anatomía y Morfología Vegetal</ion-item>
      <ion-item class="item-icon-left calm" id="programasDeCTedra-list-item55" href-inappbrowser="https://drive.google.com/file/d/1aLDW9vNMH_oxSrj-_G87oDn3Z2OosdbC/view?usp=sharing">
        <i class="icon ion-ios-list-outline"></i>Introducción a las Ciencias Agrarias</ion-item>
      <ion-item class="item-icon-left calm" id="programasDeCTedra-list-item56" href-inappbrowser="https://drive.google.com/file/d/1Jqd-VfwD1Oe6_thPsHfdE4DBImNj-MK_/view?usp=sharing">
        <i class="icon ion-ios-list-outline"></i>Química Orgánica</ion-item>
      <ion-item class="item-icon-left calm" id="programasDeCTedra-list-item57" href-inappbrowser="https://drive.google.com/file/d/1Lgn8NxTTh1dn3QJHayZjPeofOl2WX9yS/view?usp=sharing">
        <i class="icon ion-ios-list-outline"></i>Física</ion-item>
      <ion-item class="item-icon-left calm" id="programasDeCTedra-list-item58" href-inappbrowser="https://drive.google.com/file/d/1pBdtdoes7P50zO6zEP6A_Fi1VaGOdZBt/view?usp=sharing">
        <i class="icon ion-ios-list-outline"></i>Botánica Sistemática</ion-item>
      <ion-item class="item-icon-left calm" id="programasDeCTedra-list-item59">
        <i class="icon ion-ios-list-outline"></i>Informática</ion-item>
      <ion-item class="item-icon-left calm" id="programasDeCTedra-list-item60" href-inappbrowser="https://drive.google.com/file/d/1TvqrowIqcMVsM9Bi2z6HiToMbqFNKSSL/view?usp=sharing">
        <i class="icon ion-ios-list-outline"></i>Expresión Oral y Escrita</ion-item>
      <ion-item class="item-icon-left calm" id="programasDeCTedra-list-item61" href-inappbrowser="https://drive.google.com/file/d/195C4WZcr6WeYwZzxqmpljtOuu1qmlgrr/view?usp=sharing">
        <i class="icon ion-ios-list-outline"></i>Química Biológica</ion-item>
      <ion-item class="item-icon-left calm" id="programasDeCTedra-list-item62" href-inappbrowser="https://drive.google.com/file/d/13rRJPNJVN-jXeGp69DwyWk3lmr9k15Kl/view?usp=sharing">
        <i class="icon ion-ios-list-outline"></i>Estadística y Diseño Experimental</ion-item>
      <ion-item class="item-icon-left calm" id="programasDeCTedra-list-item63" href-inappbrowser="https://drive.google.com/file/d/1GL6A_9UR4NaLQoeXms1oOv2rHRQdI73A/view?usp=sharing">
        <i class="icon ion-ios-list-outline"></i>Edafología</ion-item>
      <ion-item class="item-icon-left calm" id="programasDeCTedra-list-item64" href-inappbrowser="https://drive.google.com/file/d/1yxcCEzCxZb6CBFOLssg1S0TpvuqMMzoo/view?usp=sharing">
        <i class="icon ion-ios-list-outline"></i>Química Analítica</ion-item>
      <ion-item class="item-icon-left calm" id="programasDeCTedra-list-item65" href-inappbrowser="https://drive.google.com/file/d/1ImNIk2Ue7Lawvj4K2hDDYSV3Qq6t8TEg/view?usp=sharing">
        <i class="icon ion-ios-list-outline"></i>Filosofía Vegetal</ion-item>
      <ion-item class="item-icon-left calm" id="programasDeCTedra-list-item66" href-inappbrowser="https://drive.google.com/file/d/1hLv_d_1uaNPz0f_veg0yS3pSTFJOiphN/view?usp=sharing">
        <i class="icon ion-ios-list-outline"></i>Fitopatología</ion-item>
      <ion-item class="item-icon-left calm" id="programasDeCTedra-list-item67" href-inappbrowser="https://drive.google.com/file/d/12xiD3XMEyoo35JHe-ujiCvtBQcF4FfA2/view?usp=sharing">
        <i class="icon ion-ios-list-outline"></i>Climatología y Agrometereología</ion-item>
      <ion-item class="item-icon-left calm" id="programasDeCTedra-list-item68" href-inappbrowser="https://drive.google.com/file/d/1s7Ju-pW_L5TpEE5bsk69XfdYeB67iZIZ/view?usp=sharing">
        <i class="icon ion-ios-list-outline"></i>Maquinaria Agrícola</ion-item>
      <ion-item class="item-icon-left calm" id="programasDeCTedra-list-item69" href-inappbrowser="https://drive.google.com/file/d/1eNrCheWGIxaobRgDhCT73-zzSTMs-Tg0/view?usp=sharing">
        <i class="icon ion-ios-list-outline"></i>Ingles</ion-item>
      <ion-item class="item-icon-left calm" id="programasDeCTedra-list-item70" href-inappbrowser="https://drive.google.com/file/d/1qphLbaCYUJBEvsN3mRQz5BEot34fspNr/view?usp=sharing">
        <i class="icon ion-ios-list-outline"></i>Bases Biológicas de la Producción Animal</ion-item>
      <ion-item class="item-icon-left calm" id="programasDeCTedra-list-item71" href-inappbrowser="https://drive.google.com/file/d/1O4dKqizrU1pBfhvwXmAOg8WFp4Z3RD79/view?usp=sharing">
        <i class="icon ion-ios-list-outline"></i>Zoología Agrícola</ion-item>
      <ion-item class="item-icon-left calm" id="programasDeCTedra-list-item72" href-inappbrowser="https://drive.google.com/file/d/1F52weUAaJeW_xjvD7zhT_eLu9LnzmH9n/view?usp=sharing">
        <i class="icon ion-ios-list-outline"></i>Ecología Agrícola</ion-item>
      <ion-item class="item-icon-left calm" id="programasDeCTedra-list-item73" href-inappbrowser="https://drive.google.com/file/d/1zZeAJQ_tm-atsQ0I5jtrZZOckROYceBd/view?usp=sharing">
        <i class="icon ion-ios-list-outline"></i>Genética</ion-item>
      <ion-item class="item-icon-left calm" id="programasDeCTedra-list-item74" href-inappbrowser="https://drive.google.com/file/d/1kuXC--F0MXphK5OJ6VCpoB0bqUETZ9Ig/view?usp=sharing">
        <i class="icon ion-ios-list-outline"></i>Terapéutica Vegetal</ion-item>
      <ion-item class="item-icon-left calm" id="programasDeCTedra-list-item243" href-inappbrowser="https://drive.google.com/file/d/1d5QD7mDUg1xy0ehPcnKRnOhI7XZsh5FA/view?usp=sharing">
        <i class="icon ion-ios-list-outline"></i>Nutrición y Alimentación Animal</ion-item>
      <ion-item class="item-icon-left calm" id="programasDeCTedra-list-item244" href-inappbrowser="https://drive.google.com/file/d/1zk6h-tqnuFse6zAj9SCp_rtTDyj3w6QK/view?usp=sharing">
        <i class="icon ion-ios-list-outline"></i>Microbiología Agrícola</ion-item>
      <ion-item class="item-icon-left calm" id="programasDeCTedra-list-item245" href-inappbrowser="https://drive.google.com/file/d/1tWJ8RXYUMOzJzHI7yAi9X0ghkLiitY-Y/view?usp=sharing">
        <i class="icon ion-ios-list-outline"></i>Mejoramiento Vegetal</ion-item>
      <ion-item class="item-icon-left calm" id="programasDeCTedra-list-item246" href-inappbrowser="https://drive.google.com/file/d/1Motl7ENETqOYHcbjCiXweOdHg3joa_YA/view?usp=sharing">
        <i class="icon ion-ios-list-outline"></i>Economía Política</ion-item>
      <ion-item class="item-icon-left calm" id="programasDeCTedra-list-item247" href-inappbrowser="https://drive.google.com/file/d/109mQ54BQ_dcx1Jz3DguHPYGiW0o0Ulv2/view?usp=sharing">
        <i class="icon ion-ios-list-outline"></i>Manejo del Recurso Hídrico</ion-item>
      <ion-item class="item-icon-left calm" id="programasDeCTedra-list-item248" href-inappbrowser="https://drive.google.com/file/d/1W37BWrJnsW0oSVoJby8l9pPGmbKyZsPL/view?usp=sharing">
        <i class="icon ion-ios-list-outline"></i>Manejo y Conservación de Suelos</ion-item>
      <ion-item class="item-icon-left calm" id="programasDeCTedra-list-item249" href-inappbrowser="https://drive.google.com/file/d/1C-BAWsKIrB8o18SdFrZjca67tK2Jep2j/view?usp=sharing">
        <i class="icon ion-ios-list-outline"></i>Administración y Comercialización</ion-item>
      <ion-item class="item-icon-left calm" id="programasDeCTedra-list-item250" href-inappbrowser="https://drive.google.com/file/d/1H_fkJjOyYisxiWh_pbX8POJiq92RvNdS/view?usp=sharing">
        <i class="icon ion-ios-list-outline"></i>Introducción al Conocimiento Científico</ion-item>
      <ion-item class="item-icon-left calm" id="programasDeCTedra-list-item251" href-inappbrowser="https://drive.google.com/file/d/1MviiNETs53Aw1wVtpyRntg4UOGXs0eUX/view?usp=sharing">
        <i class="icon ion-ios-list-outline"></i>Producción y Utilización de Forrajes</ion-item>
      <ion-item class="item-icon-left calm" id="programasDeCTedra-list-item252" href-inappbrowser="https://drive.google.com/file/d/1_6acKiCkv2ZFkaRMcK4DRglpeAJQ1br4/view?usp=sharing">
        <i class="icon ion-ios-list-outline"></i>Producción Animal (bovinos)</ion-item>
      <ion-item class="item-icon-left calm" id="programasDeCTedra-list-item253" href-inappbrowser="https://drive.google.com/file/d/1DaMD1xQBpD0HfnJJkQ972gRSUt5iokcC/view?usp=sharing">
        <i class="icon ion-ios-list-outline"></i>Horticultura</ion-item>
      <ion-item class="item-icon-left calm" id="programasDeCTedra-list-item254" href-inappbrowser="https://drive.google.com/file/d/1Mbs02k4etbrroXujQrcb15bSUDSbqpFK/view?usp=sharing">
        <i class="icon ion-ios-list-outline"></i>Producción Animal (Porcinos y Animales de Granja)</ion-item>
      <ion-item class="item-icon-left calm" id="programasDeCTedra-list-item255" href-inappbrowser="https://drive.google.com/file/d/1kHHR4Ex_fBgPRTxAwO1tj5Oe_VHISrzC/view?usp=sharing">
        <i class="icon ion-ios-list-outline"></i>Fruticultura</ion-item>
      <ion-item class="item-icon-left calm" id="programasDeCTedra-list-item256" href-inappbrowser="https://drive.google.com/file/d/1BOWJZ_i2ZWRBzX26FqHURjuKQWTd_okY/view?usp=sharing">
        <i class="icon ion-ios-list-outline"></i>Práctica de Verano</ion-item>
      <ion-item class="item-icon-left calm" id="programasDeCTedra-list-item257" href-inappbrowser="https://drive.google.com/file/d/1en8AVVmRvpPDITPFF5c_2hwEL5e73ETl/view?usp=sharing">
        <i class="icon ion-ios-list-outline"></i>Extensión y Sociología Rural</ion-item>
      <ion-item class="item-icon-left calm" id="programasDeCTedra-list-item258" href-inappbrowser="https://drive.google.com/file/d/1WqJZFuYZsVOR8NNl9bzBt6QJTy1MQKHI/view?usp=sharing">
        <i class="icon ion-ios-list-outline"></i>Legislación Agraria</ion-item>
      <ion-item class="item-icon-left calm" id="programasDeCTedra-list-item259" href-inappbrowser="https://drive.google.com/file/d/1nUOeFHSqia2rrJhVFu7f6R9epMO2iZf-/view?usp=sharing">
        <i class="icon ion-ios-list-outline"></i>Silvicultura</ion-item>
      <ion-item class="item-icon-left calm" id="programasDeCTedra-list-item260" href-inappbrowser="https://drive.google.com/file/d/1VsqTC7-cl5IUEACnXI8wmGl0ka2qX1yo/view?usp=sharing">
        <i class="icon ion-ios-list-outline"></i>Cerealicultura y Cultivos Industriales</ion-item>
      <ion-item class="item-icon-left calm" id="programasDeCTedra-list-item261" href-inappbrowser="https://drive.google.com/file/d/1YmLtvJmGpwv74wZyFAEA3hE8CFxWoGBl/view?usp=sharing">
        <i class="icon ion-ios-list-outline"></i>Teledetección y Sistemas de Información Geográfica</ion-item>
      <ion-item class="item-icon-left calm" id="programasDeCTedra-list-item262" href-inappbrowser="https://drive.google.com/file/d/1tac4j-ZRyOEBTrEKJDUZhhn6vPMebsOo/view?usp=sharing">
        <i class="icon ion-ios-list-outline"></i>Pasantía en institución Pública</ion-item>
      <ion-item class="item-icon-left calm" id="programasDeCTedra-list-item263" href-inappbrowser="https://drive.google.com/file/d/1tac4j-ZRyOEBTrEKJDUZhhn6vPMebsOo/view?usp=sharing">
        <i class="icon ion-ios-list-outline"></i>Pasantía en Establecimiento Privado</ion-item>
      <ion-item class="item-icon-left calm" id="programasDeCTedra-list-item264" href-inappbrowser="https://drive.google.com/file/d/1xoZGPhR1ag3V7K0Rg4XnwXRzKLVGVhZU/view?usp=sharing">
        <i class="icon ion-ios-list-outline"></i>Olivicultura</ion-item>
      <ion-item class="item-icon-left calm" id="programasDeCTedra-list-item265" href-inappbrowser="https://drive.google.com/file/d/1yHk8X_j4436s7fsEEStSyv4yWrfBd7Ad/view?usp=sharing">
        <i class="icon ion-ios-list-outline"></i>Práctica de Verano II</ion-item>
      <ion-item class="item-icon-left calm" id="programasDeCTedra-list-item266">
        <i class="icon ion-ios-list-outline"></i>Trabajo Final</ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
  </ion-content>
</ion-view>