<ion-view title="Química General e Inorgánica" id="page17" style="background-color:#00A7C3;">
  <ion-content padding="true" class="has-header">
    <ion-list id="quMicaGeneralEInorgNica-list20">
      <ion-item class="item-icon-right dark" id="quMicaGeneralEInorgNica-list-item104">Item 1
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="quMicaGeneralEInorgNica-list-item105">Item 2
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="quMicaGeneralEInorgNica-list-item106">Item 3
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
    <ion-list id="quMicaGeneralEInorgNica-list21">
      <ion-item class="item-icon-right dark" id="quMicaGeneralEInorgNica-list-item107">Item 1
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="quMicaGeneralEInorgNica-list-item108">Item 2
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="quMicaGeneralEInorgNica-list-item109">Item 3
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>