<ion-view title="Química" id="page42" style="background-color:#00A7C3;">
  <ion-content padding="true" class="has-header">
    <ion-list id="quMica-list103">
      <ion-item class="item-icon-right dark" id="quMica-list-item293">Item 1
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="quMica-list-item294">Item 2
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="quMica-list-item295">Item 3
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
    <ion-list id="quMica-list104">
      <ion-item class="item-icon-right dark" id="quMica-list-item296">Item 1
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="quMica-list-item297">Item 2
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="quMica-list-item298">Item 3
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>