<ion-view title="Química Biológica" id="page25" style="background-color:#00A7C3;">
  <ion-content padding="true" class="has-header">
    <ion-list id="quMicaBiolGica-list36">
      <ion-item class="item-icon-right dark" id="quMicaBiolGica-list-item152">Item 1
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="quMicaBiolGica-list-item153">Item 2
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="quMicaBiolGica-list-item154">Item 3
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
    <ion-list id="quMicaBiolGica-list37">
      <ion-item class="item-icon-right dark" id="quMicaBiolGica-list-item155">Item 1
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="quMicaBiolGica-list-item156">Item 2
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="quMicaBiolGica-list-item157">Item 3
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>