<ion-view title="Teledetección y Sistemas de Información Geográfica" id="page63" style="background-color:#00A7C3;">
  <ion-content padding="true" class="has-header">
    <ion-list id="teledetecciNYSistemasDeInformaciNGeogrFica-list145">
      <ion-item class="item-icon-right dark" id="teledetecciNYSistemasDeInformaciNGeogrFica-list-item419">Item 1
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="teledetecciNYSistemasDeInformaciNGeogrFica-list-item420">Item 2
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="teledetecciNYSistemasDeInformaciNGeogrFica-list-item421">Item 3
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
    <ion-list id="teledetecciNYSistemasDeInformaciNGeogrFica-list146">
      <ion-item class="item-icon-right dark" id="teledetecciNYSistemasDeInformaciNGeogrFica-list-item422">Item 1
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="teledetecciNYSistemasDeInformaciNGeogrFica-list-item423">Item 2
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="teledetecciNYSistemasDeInformaciNGeogrFica-list-item424">Item 3
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>