<ion-view title="Terapéutica Vegetal" id="page44" style="background-color:#00A7C3;">
  <ion-content padding="true" class="has-header">
    <ion-list id="terapUticaVegetal-list107">
      <ion-item class="item-icon-right dark" id="terapUticaVegetal-list-item305">Item 1
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="terapUticaVegetal-list-item306">Item 2
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="terapUticaVegetal-list-item307">Item 3
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
    <ion-list id="terapUticaVegetal-list108">
      <ion-item class="item-icon-right dark" id="terapUticaVegetal-list-item308">Item 1
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="terapUticaVegetal-list-item309">Item 2
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="terapUticaVegetal-list-item310">Item 3
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>