<ion-view title="Trabajo Final" id="page68" style="background-color:#00A7C3;">
  <ion-content padding="true" class="has-header">
    <ion-list id="trabajoFinal-list155">
      <ion-item class="item-icon-right dark" id="trabajoFinal-list-item449">Item 1
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="trabajoFinal-list-item450">Item 2
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="trabajoFinal-list-item451">Item 3
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
    <ion-list id="trabajoFinal-list156">
      <ion-item class="item-icon-right dark" id="trabajoFinal-list-item452">Item 1
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="trabajoFinal-list-item453">Item 2
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="trabajoFinal-list-item454">Item 3
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>